/*********Contenedor Superior *************/
.container {
  width: 80%;
  margin-top: 10px;
}

/*********Contenedor de Botones*************/
.itemSelect {
  border: 1px solid #0e3a73;
  height: 150px;
  width: 98%;
  overflow-y: auto;
  margin: 10px 40px;
  padding: 2px;
}

.itemSelect::-webkit-scrollbar {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.itemSelect::-webkit-scrollbar:horizontal {
  height: 8px;
}

.itemSelect::-webkit-scrollbar:vertical {
  width: 8px;
}

.itemSelect::-webkit-scrollbar-thumb {
  background-color: #d9ecd8;
  border-radius: 20px;
}

.itemSelect::-webkit-scrollbar-track {
  border-radius: 10px;
}
/*****************************************************/

/********* Botones *************/
.btnSelect {
  background: #d9ecd8;
  border-radius: 10px;
  margin: 5px;
  width: 130px;
  height: 30px;
  font-size: 13px;
  border: none;
}

/********* Contenedor Inferior de columnas, filas y valores *************/
.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .itemSelect {
    display: flex;
    width: 80%;
    margin-left: 20%;
  }
  .btnSelect {
    width: 90px;
    font-size: 10px;
  }
  .bottomContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }
}

@media screen and (max-width: 1023px) {
  .bottomContainer {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
  }
  .generateReport {
    margin-top: 5%;
  }
}
