/*********Boton para Generar Reporte*************/
.generateReport {
  background: #0e3a73;
  border-radius: 10px;
  border: none;
  width: 113px;
  height: 42px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}

.generateReport a {
  color: #fff;
}

.generateReport:hover {
  background-color: #038c33;
}
