.rows,
.columns,
.values {
  border: 1px solid #0e3a73;
}
.rows {
  width: 185px;
  height: 270px;
  cursor: pointer;
}

.columns,
.values {
  margin: 5px;
  width: 492px;
  height: 130px;
  cursor: pointer;
}

.itemsSelected {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_col_val {
  display: flex;
  flex-direction: column;
}

/* Clase para activar el titulo de cada contenedor inferior (filas, columns y valores)*/

.containerR.active {
  border: 2px solid #0e3a73;
}
