.containerVertical,
.containerHorizontal {
  border: 1px solid #0e3a73;
}
.containerVertical {
  width: 185px;
  height: 270px;
  cursor: pointer;
}

.containerHorizontal {
  margin: 5px;
  width: 492px;
  height: 130px;
  cursor: pointer;
}

.itemsSelected {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_col_val {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .itemsSelected {
    display: flex;
    flex-direction: column;
  }
  .containerVertical {
    height: 130px;
    width: 200px;
    /* margin-left: 17%; */
  }
  .containerHorizontal {
    width: 200px;
    /* margin-left: 10%; */
  }
}
