/******Contenedor de la vista*******/
.container-ReportGenerated {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-left: 10%;
}

/******Contenedor de botones para guardar y exportar la tabla generada*******/
.containerBtns {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
