/******Contenedor de la vista*******/
.container-ReportGenerated {
  margin-top: -48%;
  margin-left: 18%;
  display: block;
  height: 600px;
}

/******Contenedor de botones para guardar y exportar la tabla generada*******/
.containerBtns {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
