Sidenav {
  background-color: #038c33;
}

a {
  color: #fff !important;
}

.sidenav---sidenav-subnav---1EN61 {
  background-color: #038c33;
  color: #fff !important;
}

.sidenav---sidenav-subnav---1EN61 :hover {
  color: rgb(24, 21, 21) !important;
  font-weight: 600;
}

.iconify iconify--ant-design {
  cursor: pointer;
}

.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02 {
  background-color: #fff;
}
